<html>
  <head>
    <meta charset="utf-8">
    <title>Cheatsheet</title>
    <link rel='stylesheet' type= 'text/css'  href='/stylesheets/style.css'/>
  </head>
  <body>
    <hr />

    <%= yield %>

  
      <a href='/'>Menu</a>
    <footer>
      <div>&copy; Jo Squire 2016</div>
    </footer>
  </body>
</html>
