<h1>MAN SEARCH</h1>
  <hr/>
  <div class="align">
    <p>What manual would you like to search for?</p>
    <form method='POST' action='/search_result'>
      <input type='text' placeholder='search' name='message' required />
      <input type='submit' />
    </form>

  </div>
